name: ci

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DPMS_BUILD_TESTS=ON

      - name: Build
        run: cmake --build build --config Release -- -j 2

      - name: Test
        run: ctest --test-dir build --output-on-failure --config Release
